# Assignment No. 7

## Anas Sohail

In [9]:
# Make a class called Employee. The __init__() method for Employee should store its different attributes:
# name, number, address, salary, post, year of joining, education, and his year of experience.

# Make a method called describe_employee() that prints the detail Information about employee,
# a method update_ year_of_experience(), and a method called increase_salary() that do increamnet in it's salary.

# Make an instance called employee101 from your class. Print the four attri-
# butes individually, and then call all it's methods for describing employee, ssalary increamnet and increase year of experience.

# Create 10 different instances from the class, and call describe_employee() for each
# instance. Then do some updations with it's methods.

# Finally complete the same task without using the Classes or OOP.


class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

    def describe_employee(self):
        print(f"Name: {self.name}")
        print(f"Serial No.: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: Rs.{self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Years of Experience: {self.year_of_experience}")

    def update_year_of_experience(self, additional_years):
        self.year_of_experience += additional_years
        print(f"Updated Years of Experience for {self.name}: {self.year_of_experience}")

    def increase_salary(self, increment):
        self.salary += increment
        print(f"Updated Salary for {self.name}: Rs.{self.salary}")

In [10]:
# Creating an instance of Employee
employee101 = Employee(
    name="Anas",
    number="EMP101",
    address="C-70 block 11",
    salary=50000,
    post="Data Analytics",
    year_of_joining=2022,
    education="Bachelor's in Computer Science",
    year_of_experience=2
)

# Printing the four attributes individually
print("four attributes individually are: ")
print(employee101.name)
print(employee101.number)
print(employee101.address)
print(employee101.salary)
print()

# Calling methods to describe the employee, increase salary, and update experience
print("Describe Employee in detailed: ")
employee101.describe_employee()
employee101.increase_salary(5000)
employee101.update_year_of_experience(1)

four attributes individually are:
Anas
EMP101
C-70 block 11
50000

Describe Employee in detailed:
Name: Anas
Serial No.: EMP101
Address: C-70 block 11
Salary: Rs.50000
Post: Data Analytics
Year of Joining: 2022
Education: Bachelor's in Computer Science
Years of Experience: 2
Updated Salary for Anas: Rs.55000
Updated Years of Experience for Anas: 3

In [13]:
# Creating 10 instances of Employee with details
employees = [
    Employee("Ahmed Khan", "EMP201", "123 Clifton St, Karachi", 60000, "Software Engineer", 2017, "Bachelor's in Computer Science", 7),
    Employee("Sara Malik", "EMP202", "456 Gulberg Ave, Lahore", 70000, "Data Scientist", 2015, "Master's in Data Science", 9),
    Employee("Bilal Ahmed", "EMP203", "789 F-10 Markaz, Islamabad", 55000, "Network Administrator", 2018, "Bachelor's in Information Technology", 6),
    Employee("Fatima Shah", "EMP204", "101 Tariq Road, Karachi", 52000, "HR Manager", 2016, "MBA in Human Resources", 8),
    Employee("Usman Raza", "EMP205", "202 Canal Road, Lahore", 62000, "Project Manager", 2014, "MBA in Project Management", 10),
    Employee("Ayesha Siddiqui", "EMP206", "303 University Town, Peshawar", 48000, "Marketing Executive", 2019, "Bachelor's in Marketing", 5),
    Employee("Zainab Abbas", "EMP207", "404 Saddar Bazaar, Quetta", 50000, "Graphic Designer", 2020, "Bachelor's in Fine Arts", 4),
    Employee("Hamza Farooq", "EMP208", "505 Cantt Area, Rawalpindi", 57000, "Software Tester", 2016, "Bachelor's in Software Engineering", 8),
    Employee("Maira Khan", "EMP209", "606 DHA Phase 5, Karachi", 68000, "Business Analyst", 2015, "Master's in Business Administration", 9),
    Employee("Ali Rehman", "EMP210", "707 Model Town, Lahore", 64000, "Database Administrator", 2013, "Master's in Computer Science", 11)
]

# Calling describe_employee() for each instance
for emp in employees:
    emp.describe_employee()
    print()

Name: Ahmed Khan
Serial No.: EMP201
Address: 123 Clifton St, Karachi
Salary: Rs.60000
Post: Software Engineer
Year of Joining: 2017
Education: Bachelor's in Computer Science
Years of Experience: 7

Name: Sara Malik
Serial No.: EMP202
Address: 456 Gulberg Ave, Lahore
Salary: Rs.70000
Post: Data Scientist
Year of Joining: 2015
Education: Master's in Data Science
Years of Experience: 9

Name: Bilal Ahmed
Serial No.: EMP203
Address: 789 F-10 Markaz, Islamabad
Salary: Rs.55000
Post: Network Administrator
Year of Joining: 2018
Education: Bachelor's in Information Technology
Years of Experience: 6

Name: Fatima Shah
Serial No.: EMP204
Address: 101 Tariq Road, Karachi
Salary: Rs.52000
Post: HR Manager
Year of Joining: 2016
Education: MBA in Human Resources
Years of Experience: 8

Name: Usman Raza
Serial No.: EMP205
Address: 202 Canal Road, Lahore
Salary: Rs.62000
Post: Project Manager
Year of Joining: 2014
Education: MBA in Project Management
Years of Experience: 10

Name: Ayesha Siddiqui
Serial No.: EMP206
Address: 303 University Town, Peshawar
Salary: Rs.48000
Post: Marketing Executive
Year of Joining: 2019
Education: Bachelor's in Marketing
Years of Experience: 5

Name: Zainab Abbas
Serial No.: EMP207
Address: 404 Saddar Bazaar, Quetta
Salary: Rs.50000
Post: Graphic Designer
Year of Joining: 2020
Education: Bachelor's in Fine Arts
Years of Experience: 4

Name: Hamza Farooq
Serial No.: EMP208
Address: 505 Cantt Area, Rawalpindi
Salary: Rs.57000
Post: Software Tester
Year of Joining: 2016
Education: Bachelor's in Software Engineering
Years of Experience: 8

Name: Maira Khan
Serial No.: EMP209
Address: 606 DHA Phase 5, Karachi
Salary: Rs.68000
Post: Business Analyst
Year of Joining: 2015
Education: Master's in Business Administration
Years of Experience: 9

Name: Ali Rehman
Serial No.: EMP210
Address: 707 Model Town, Lahore
Salary: Rs.64000
Post: Database Administrator
Year of Joining: 2013
Education: Master's in Computer Science
Years of Experience: 11

In [12]:
# Performing some updates with the methods
employees[0].increase_salary(5000)  # Ahmed Khan gets a salary increment
employees[1].update_year_of_experience(2)  # Sara Malik's experience is updated
employees[2].increase_salary(3000)  # Bilal Ahmed gets a salary increment
employees[3].update_year_of_experience(1)  # Fatima Shah's experience is updated

Updated Salary for Ahmed Khan: Rs.65000
Updated Years of Experience for Sara Malik: 11
Updated Salary for Bilal Ahmed: Rs.58000
Updated Years of Experience for Fatima Shah: 9

In [14]:
# Employee data for each employee as dictionaries with details
employee101 = {
    "name": "Ahmed Khan",
    "number": "EMP201",
    "address": "123 Clifton St, Karachi",
    "salary": 60000,
    "post": "Software Engineer",
    "year_of_joining": 2017,
    "education": "Bachelor's in Computer Science",
    "year_of_experience": 7
}

# Function to describe an employee
def describe_employee(employee):
    print(f"Name: {employee['name']}")
    print(f"Number: {employee['number']}")
    print(f"Address: {employee['address']}")
    print(f"Salary: ${employee['salary']}")
    print(f"Post: {employee['post']}")
    print(f"Year of Joining: {employee['year_of_joining']}")
    print(f"Education: {employee['education']}")
    print(f"Years of Experience: {employee['year_of_experience']}")
    print()

# Function to update the year of experience
def update_year_of_experience(employee, additional_years):
    employee['year_of_experience'] += additional_years
    print(f"Updated Years of Experience for {employee['name']}: {employee['year_of_experience']}")

# Function to increase salary
def increase_salary(employee, increment):
    employee['salary'] += increment
    print(f"Updated Salary for {employee['name']}: ${employee['salary']}")

# Describing and updating employee101 without OOP
describe_employee(employee101)
increase_salary(employee101, 5000)
update_year_of_experience(employee101, 1)

# Creating and describing multiple employees without OOP
employees = [
    {"name": "Sara Malik", "number": "EMP202", "address": "456 Gulberg Ave, Lahore", "salary": 70000, "post": "Data Scientist", "year_of_joining": 2015, "education": "Master's in Data Science", "year_of_experience": 9},
    {"name": "Bilal Ahmed", "number": "EMP203", "address": "789 F-10 Markaz, Islamabad", "salary": 55000, "post": "Network Administrator", "year_of_joining": 2018, "education": "Bachelor's in Information Technology", "year_of_experience": 6},
    {"name": "Fatima Shah", "number": "EMP204", "address": "101 Tariq Road, Karachi", "salary": 52000, "post": "HR Manager", "year_of_joining": 2016, "education": "MBA in Human Resources", "year_of_experience": 8},
    {"name": "Usman Raza", "number": "EMP205", "address": "202 Canal Road, Lahore", "salary": 62000, "post": "Project Manager", "year_of_joining": 2014, "education": "MBA in Project Management", "year_of_experience": 10},
    {"name": "Ayesha Siddiqui", "number": "EMP206", "address": "303 University Town, Peshawar", "salary": 48000, "post": "Marketing Executive", "year_of_joining": 2019, "education": "Bachelor's in Marketing", "year_of_experience": 5},
    {"name": "Zainab Abbas", "number": "EMP207", "address": "404 Saddar Bazaar, Quetta", "salary": 50000, "post": "Graphic Designer", "year_of_joining": 2020, "education": "Bachelor's in Fine Arts", "year_of_experience": 4},
    {"name": "Hamza Farooq", "number": "EMP208", "address": "505 Cantt Area, Rawalpindi", "salary": 57000, "post": "Software Tester", "year_of_joining": 2016, "education": "Bachelor's in Software Engineering", "year_of_experience": 8},
    {"name": "Maira Khan", "number": "EMP209", "address": "606 DHA Phase 5, Karachi", "salary": 68000, "post": "Business Analyst", "year_of_joining": 2015, "education": "Master's in Business Administration", "year_of_experience": 9},
    {"name": "Ali Rehman", "number": "EMP210", "address": "707 Model Town, Lahore", "salary": 64000, "post": "Database Administrator", "year_of_joining": 2013, "education": "Master's in Computer Science", "year_of_experience": 11}
]

# Describing each employee
for emp in employees:
    describe_employee(emp)

# Performing updates without OOP
increase_salary(employees[0], 2000)  # Increase Sara Malik's salary
update_year_of_experience(employees[1], 2)  # Update Bilal Ahmed's experience
increase_salary(employees[2], 3000)  # Increase Fatima Shah's salary
update_year_of_experience(employees[3], 1)  # Update Usman Raza's experience

Name: Ahmed Khan
Number: EMP201
Address: 123 Clifton St, Karachi
Salary: $60000
Post: Software Engineer
Year of Joining: 2017
Education: Bachelor's in Computer Science
Years of Experience: 7

Updated Salary for Ahmed Khan: $65000
Updated Years of Experience for Ahmed Khan: 8
Name: Sara Malik
Number: EMP202
Address: 456 Gulberg Ave, Lahore
Salary: $70000
Post: Data Scientist
Year of Joining: 2015
Education: Master's in Data Science
Years of Experience: 9

Name: Bilal Ahmed
Number: EMP203
Address: 789 F-10 Markaz, Islamabad
Salary: $55000
Post: Network Administrator
Year of Joining: 2018
Education: Bachelor's in Information Technology
Years of Experience: 6

Name: Fatima Shah
Number: EMP204
Address: 101 Tariq Road, Karachi
Salary: $52000
Post: HR Manager
Year of Joining: 2016
Education: MBA in Human Resources
Years of Experience: 8

Name: Usman Raza
Number: EMP205
Address: 202 Canal Road, Lahore
Salary: $62000
Post: Project Manager
Year of Joining: 2014
Education: MBA in Project Management
Years of Experience: 10

Name: Ayesha Siddiqui
Number: EMP206
Address: 303 University Town, Peshawar
Salary: $48000
Post: Marketing Executive
Year of Joining: 2019
Education: Bachelor's in Marketing
Years of Experience: 5

Name: Zainab Abbas
Number: EMP207
Address: 404 Saddar Bazaar, Quetta
Salary: $50000
Post: Graphic Designer
Year of Joining: 2020
Education: Bachelor's in Fine Arts
Years of Experience: 4

Name: Hamza Farooq
Number: EMP208
Address: 505 Cantt Area, Rawalpindi
Salary: $57000
Post: Software Tester
Year of Joining: 2016
Education: Bachelor's in Software Engineering
Years of Experience: 8

Name: Maira Khan
Number: EMP209
Address: 606 DHA Phase 5, Karachi
Salary: $68000
Post: Business Analyst
Year of Joining: 2015
Education: Master's in Business Administration
Years of Experience: 9

Name: Ali Rehman
Number: EMP210
Address: 707 Model Town, Lahore
Salary: $64000
Post: Database Administrator
Year of Joining: 2013
Education: Master's in Computer Science
Years of Experience: 11

Updated Salary for Sara Malik: $72000
Updated Years of Experience for Bilal Ahmed: 8
Updated Salary for Fatima Shah: $55000
Updated Years of Experience for Usman Raza: 11